In [12]:
a=input("Enter the phone number:")
b=a.replace(a[0:6],'*')

c=b.rjust(10,'*')
print(c)

Enter the phone number:9960554092
******4092

In [16]:
a='madam'
if a==a[::-1]:
    print('palindrome')
else:
    print('not palindrome')

palindrome

In [18]:
a='naresh'
for i in a:
      print(i)
print('from IT')

n
a
r
e
s
h
from IT

In [20]:
for i in range(11):
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
for i in range(1,10):
        print(i)

1
2
3
4
5
6
7
8
9

In [26]:
for i in range(1,11):
        if i%2==0:
           print('even no:',i)
        else:
            print('odd no:',i)

odd no: 1
even no: 2
odd no: 3
even no: 4
odd no: 5
even no: 6
odd no: 7
even no: 8
odd no: 9
even no: 10

In [27]:
for i in range(2,11,2):
        if i%2==0:
           print(i)

2
4
6
8
10

In [38]:
a='google.com'
for i in a:
    if i==".":
      break
    print(i,end='')

google

In [42]:
for i in range(1,11):
         print(i*i)

1
4
9
16
25
36
49
64
81
100

In [49]:
for i in range(5,0,-1):
      print(i * '*')

*****
****
***
**
*

In [ ]:
for i in range(1,5):
      print(i * '*')

*
**
***
****
*****

In [54]:
for i in range(5,0,-1):
      print(i * '*')
for i in range(2,6):
      print(i * '*')

*****
****
***
**
*
**
***
****
*****

In [2]:
n=5
for i in range(1,n+1):
      print(" "= n*1-1 + "*" * (i*2+1))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (152665910.py, line 3)