In [2]:
a=[10,20,30,40]
sum=0
for i in range(len(a)):
              sum = sum + a[i]
print(sum)

100

In [3]:
a=[10,20,30,40]
a.reverse()
print(a)

[40, 30, 20, 10]

In [8]:
a=[10,20,30,40]
b=[]
for i in range(len(a)-1,-1,-1):
              b.append(a[i])
print(b)
if a==b[::-1] :
       print("List is palindrome")
else :
       print("List is not palindrome")

[40, 30, 20, 10]
List is palindrome

In [10]:
a=1,2,'abc'
print(a)
print(type(a))

(1, 2, 'abc')
<class 'tuple'>

In [20]:
a=(1,2,'abc')
b=list(a)
print(a)
b[2]= 3
a=tuple(b)
print(a)

(1, 2, 'abc')
(1, 2, 3)

In [25]:
a=(10,20,30,60,50)
b=list(a)
b.sort(reverse=True)
print(b)
a=tuple(b)
print(a)

[60, 50, 30, 20, 10]
(60, 50, 30, 20, 10)

In [26]:
a=(15,23,32,64,55)
even=0
odd=0
for i in a:
          if i%2==0:
               even+=1
          else:
               odd+=1
print(even)
print(odd)

2
3

In [36]:
a=[1,2,3,4]
b=a.copy()
print(b)
small=a[0]
for i in range(len(a)):
               for j in range(i+1,len(a)):
                            if a[i]>a[j]:
                                 a[i],a[j]=a[j],a[i]

print(a)
if a == b:
        print("sorted")
else:
        print("not sorted")

[1, 2, 3, 4]
[1, 2, 3, 4]
sorted

In [38]:
a=[1,2,3,4]
b=a.copy()
print(b)
small=a[0]
for i in range(len(a)):
               for j in range(i+1,len(a)):
                            if a[i]<a[j]:
                                 a[i],a[j]=a[j],a[i]

print(a)
if a == b:
        print("sorted")
else:
        print("not sorted")

[1, 2, 3, 4]
[4, 3, 2, 1]
not sorted

In [51]:


a=(1,23,34,3)
b=sum(a)
print(b)

61

In [53]:
a=(1,23,34,3)
b=max(a)
print(b)

34

In [57]:
a=(1,2,3,3)
del(a)
print(a)

NameError: name 'a' is not defined

In [64]:
a=[1,0,2,0,3,0]
b=[]
for i in a:
         if i!=0:
              b.append(i)

print(b)

[1, 2, 3]

In [66]:
a=[1,2,3,4,5,6]
b=[]
for i in a:
         if i<5:
             b.append(i)
print(b)

[1, 2, 3, 4]

In [67]:
a={1,1}
print(a)

{1}

In [68]:
a=1,2
print(a)

(1, 2)