In [2]:
print('Hello world')

Hello world

In [3]:
a={1,2,3}
b={3,4,5}
print(a&b)

{3}

In [4]:
a={1,2,3}
b={3,4,5}
print(a|b)

{1, 2, 3, 4, 5}

In [5]:
a={1,2,3}
b={3,4,5}
print(a-b)

{1, 2}

In [6]:
a={1,2,3}
b={3,4,5}
print(a^b)

{1, 2, 4, 5}

In [12]:
a={1,2,3}
b={1,2,3}# proper superset
print(a<=b)

True

In [14]:
a={1,2,3}
b={1,2}
print(a>=b)

True

In [15]:
a={1,2,3}
b={3,4,5,1,2,3}
print(a<b) #proper subset

True

In [18]:
a={1,2,3}
b={1,2,3} #superset
print(a>b)

False

In [23]:
a=[1,2,3,4,4]
b={x for x in a}  #set Comprehension
print(b)

{1, 2, 3, 4}

In [28]:
a=[1,2,3,4,4]
b={x for x in a if x%2==0}  #set Comprehension
print(b)

{2, 4}

In [31]:
a=[1,2,3,4,5,6]
b={x if x%2==0 else -x for x in a}
print(b)

{2, 4, 6, -5, -3, -1}

In [34]:
b={x for x in range(1,6) if x%2==0}
print(b)

{2, 4}

In [43]:
a={'a':[1,2],'b':(2,3)}
print(a)
print(type(a))

{'a': [1, 2], 'b': (2, 3)}
<class 'dict'>

In [47]:
a = {1.2: 2, 'sahil': (1, 2, 3), (123,): 1.4, 4: 1}
print(a)

TypeError: unhashable type: 'list'

In [51]:
a={1:'one',2:'Two',3:'Three'}
print(a[2])
a[4]='four'   # by accessing we can add a data into dict
print(a)

Two
{1: 'one', 2: 'Two', 3: 'Three', 4: 'four'}

In [53]:
a=[[1,2],[3,4],[5,6]]
b=dict(a)
print(b)  #type conversion using iterable

{1: 2, 3: 4, 5: 6}

In [55]:
a=((1,2),(3,4),(5,6))
b=dict(a)
print(b)

{1: 2, 3: 4, 5: 6}

In [58]:
a=[1,23,3]
b=[3,4,5]           #type conversion using zip function
c=dict(zip(a,b))
print(c)

{1: 3, 23: 4, 3: 5}

In [60]:
a=['apple','banana','cherry','mango']
b=dict(enumerate(a,start=1))
print(b)

{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'mango'}

In [62]:
a=['mango','apple','banana','cherry']
b=[10,20,30,40]
c=dict(zip(a,b))
print(c)

{'mango': 10, 'apple': 20, 'banana': 30, 'cherry': 40}

In [68]:
a={'a','b','c','d'}
b={1,2,3,4}
b={x:y for x,y in zip(b,a)}  #set comprehension
print(b)
print(type(b))

{1: 'b', 2: 'a', 3: 'd', 4: 'c'}
<class 'dict'>

In [70]:
a=[(1,1),(2,4),(3,9)]
b={x:y for x,y in a}
print(b)
print(type(b))

{1: 1, 2: 4, 3: 9}
<class 'dict'>

In [71]:
a={1:2,1:3}
print(a)

{1: 3}

In [72]:
a={0:2,1:2}
print(a)

{0: 2, 1: 2}

In [1]:
a=int(input('enter a value:'))
b=int(input('enter b value:'))
op=input('Enter a Operation:')
def add(a,b):
       c=a+b
       return(c)
def sub(a,b):
       c=a-b
       return(c)
def mul(a,b):
       c=a*b
       return(c)
def div(a,b):
       c=a/b
       return(c)
if op == "+" :
           r=add(a,b)
elif op == "-":
           r=sub(a,b)
elif op == "*":
           r=mul(a,b)
else op == "/":
           r=div(a,b)
print('Result:',r)

SyntaxError: expected ':' (1048514167.py, line 22)